<div id="page-header">
    <nav class="navbar navbar-inverse bg-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">School</a></li>
                <li><a ui-sref="root.userRegistration" ng-hide="!(user.role) || user.role!=(owner) || user.role!=(manager)">Adminstration</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
                <li ng-hide="user.isLoggedIn"><a ui-sref="login"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
                <li class="sdb-text-white">
                    <span id="header-username">{{user.username}}</span>, <span id="header-role">{{user.role}}</span>
                </li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-log-out"></span>Logout</a>
                </li>
                <li>
                    <img src="images/frida.jpg" width="30" height="30" alt="">
                </li>
            
            </ul>
        </div>
    </nav>
</div>