<div id="students-list" class="sdb-list col-md-2" ng-init="getStudents()">
    <!-- students list header -->
    <div class="sdb-box-header clearfix">
        <h3>Students</h3>
        <button type="button" class="btn btn-default" aria-label="add-item" ng-click="showNewStudentScreen()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
    </div>
    <!-- students list items -->
    <div class="media" ng-repeat="x in allStudents">
        <div class="media-left" ng-click="showStudentDetails(x._id)">
            <img src={{x.image}} class="media-object">
        </div>
        <div class="media-body">
            <h4 class="media-heading">{{x.name}}</h4>
            <p></p>
        </div>
    </div>
        
</div>